docker {
   enabled = true
   runOptions = '--gpus=all'
}

profiles {
   with_prov {
      plugins = ['nf-prov']

      prov {
         enabled = true
         formats {
            wrroc {
               file = 'ro-crate-metadata.json'
               overwrite = true
               license = "https://spdx.org/licenses/MIT"
            }
         }
      }
   }
   test_scgpt_fine_tuning_cell_types_workflow {
      prov.formats.wrroc.file = 'outputs/test_scgpt_fine_tuning_cell_types_workflow.nf/ro-crate-metadata.json'
   }
   scGPT_finetune_integration_workflow {
      prov.formats.wrroc.file = 'outputs/scGPT_finetune_integration_workflow.nf/ro-crate-metadata.json'
   }
}
workDir = '../.work'
